
button{
    text-decoration: none;
    margin: 0.9rem;
    transition: 0.2s;
}

.delete{
    border: 4px solid #e71d24;
    box-shadow: #9a000097 0 10px 20px -10px;
    font-weight: 600;
    color: #e71d24;
  }
  .delete:hover{
    color: white;
    background-color: #e71d24;
    border: 4px solid rgb(233, 25, 25);
  
  }
  .kartica{
    display:inline;
    padding: 10px;
margin: 3rem;   width: auto;
}
.col-8car{
text-align: center;


}


.edit{
    border: 4px solid #fd8e06;
    box-shadow: #ff950097 0 10px 20px -10px;
    font-weight: 600;
    color: #fd8e06;
  }
  .edit:hover{
    color: white;
    background-color: #fd8e06;
    border: 4px solid #fd8e06;
  }
  .detail{
    border: 4px solid #40ff00;
    box-shadow: #39d007 0 10px 20px -10px;
    font-weight: 600;
    color: #40ff00;
  }
  .detail:hover{
    color: white;
    background-color: #40ff00;
    border: 4px solid #40ff00;
  }
  .block
  {
  background-color: rgb(54, 54, 54);
  border-radius: 15px;
  border: 4px solid rgb(35, 35, 35) ;
  margin: auto;
  margin-bottom: 2rem;
  width: 90%;
  padding: 10px;
  display: flex;

  }
  .slika
  {
   object-fit: fill;
   border: 5px solid #555;
   border-radius: 15px;
   width: 30rem;
   height: 25rem;
   margin: 0;
   display:inline;  

  }


  .mb2,.mb3,.mb4
  {
    font-size: 30px;
    margin: 1rem;
    font-weight: bold;
    color:white ;
  }
